.Chat-Box {
  width: 600px;
  margin: 0 auto;
}

.Row-Item {
  position: relative;
}

.Line-Number {
  text-align: center;
  width: 22px;
  background: #efefef;
  top: 7px;
  position: absolute;
  left: -26px;
  font-size: 0.8em;
  color: rgba(27,31,35,.7);
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  border-radius: 100%;
  padding: 2px 0;
}

.Navigation {
  display: inline-block;
  text-align: center;
  width: 22px;  
  background: #efefef;
  color: rgba(27,31,35,.7);
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 0.8em;
  border-radius: 100%;
  padding: 2px 0;
  margin-left: 8px;
}

.Context-Menu > button {
  right: -4px;
  position: absolute;
  height: 23px;
  line-height: 25px;
  padding: 0 6px;
  border: none;
  opacity: .9;
  display: none;
}

.Bot .Context-Menu > button {
  background-color: #777;
}
.Bot .Context-Menu > button:focus, .Bot .Context-Menu > button:active {
  background-color: #555 !important;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.3) !important;
}

.Chat-Bubble:hover .Context-Menu > button {
  display: inline;
}

.Chat-Container {
  margin: 10px 0;
  line-height: 1.4;
}

.Chat-Container.Human {
  text-align: right;
  margin: 20px 0;
}

.Chat-Bubble, .Chat-Bubble-Input {
  border-radius: 15px;
  padding: 7px 13px;
  display: inline-block;
  max-width: 400px;
  line-height: 1.4;
}

textarea.Chat-Bubble-Input {
  display: inherit;
}

.Bot .Chat-Bubble {
  background-color: #efefef;
  color: black;
}

.Human .Chat-Bubble {
  background-color: #fff;
  color: #006bfa;
  border: 1px solid #006bfa;
  box-shadow: 0px 2px 6px #d9d9d9;
}

.Controls {
  border-top: 2px solid #eee;
  padding-top: 8px;
  margin-top: 24px;
}

.Chat-Bubble-Input {
  background-color: #efefef;
  border: none;
  width: 225px;
  resize: none;
  transition: width 100ms;
}

.Chat-Bubble-Input:focus {
  width: 350px;
}

.Chat-Bubble-Input:focus {
  background-color: #efefef;
  box-shadow: none;
}

.Add-Response.New {
  float: right;
}

.Add-Response.Inline .Chat-Bubble-Input  {
  width: 170px;
}

.Bot .Chat-Bubble-Input {
  width: 400px;
}

.Add-Response.Inline .Chat-Bubble-Input, .Option .Chat-Bubble  {
  margin-left: 4px;
}

.Add-Response.Inline, .Add-Response.Inline .Chat-Bubble-Input, .Chat-Container.Human .Option {
  display: inline;
}

.Chat-Bubble-Input-Human, .Chat-Bubble-Input-Human:focus {
  background-color: #0076ff;
  color: white;
}

.Chat-Bubble-Input-Human::placeholder {
  color: #fff;
  opacity: .6;
}

.Navigation-Input {
  display: inline;
  width: 50px;
  margin-left: 8px;
}