body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {overflow: auto}

.bg-primary {
  background-color: #2c54ff !important;
}

.modal-backdrop.extraDark {
  opacity: 0.9;
}