body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  line-height: normal;
}

.bg-primary {
  background-color: #006bfa !important;
}

button:disabled {
  cursor: not-allowed;
}
