$primary: #006bfa;

@import '~bootstrap/scss/bootstrap';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  line-height: normal;
}

button:disabled {
  cursor: not-allowed;
}

.toast-header {
  color: inherit;
}

.toast {
  z-index: 1000;
  background-color: #fff;

  width: 400px;
}
