body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow: auto;
}

.bg-primary {
  background-color: #006bfa !important;
}

.modal-backdrop.extraDark {
  opacity: 0.9;
}

button:disabled {
  cursor: not-allowed;
}
