$primary: #006bfa;

@import '~bootstrap/scss/bootstrap';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  line-height: normal;
}

button:disabled {
  cursor: not-allowed;
}

.toast-header {
  color: inherit;
  padding: 0.5rem 0.75rem;
}

.toast {
  z-index: 1000;
  background-color: #fff;

  width: 400px;
}

.popper_container {
  z-index: 100;
  border-radius: 0.3rem;
  background: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.35);
}

.popper_arrow,
.popper_arrow::before {
  position: absolute;
  width: 12px;
  height: 12px;
  z-index: -1;
}

.popper_arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #fff;
}

.popper_container[data-popper-placement^='top'] {
  > .popper_arrow {
    bottom: -6px;
  }
  > .popper_arrow::before {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  }
}

.popper_container[data-popper-placement^='bottom'] {
  > .popper_arrow {
    top: -6px;
  }
  > .popper_arrow::before {
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.15);
  }
}

.popper_container[data-popper-placement^='left'] {
  > .popper_arrow {
    right: -6px;
  }
  > .popper_arrow::before {
    box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.15);
  }
}

.popper_container[data-popper-placement^='right'] {
  > .popper_arrow {
    left: -6px;
  }
  > .popper_arrow::before {
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.15);
  }
}
