# The password for the super-admin REST apis. When calling those APIs, the must include this in your auth header.
SUPER_ADMIN_PASS=password

# The database informormation. You might need to change it based on what database you want to connect to
RDS_HOSTNAME=localhost
RDS_DB_NAME=postgres
RDS_USERNAME=postgres
RDS_PASSWORD=parampara

# Fetch these details from the auth0 account. Please use the dev environment
AUTH0_DOMAIN=dev-parampara.au.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# In development mode, events are not pushed to mailchimp, so you don't need to set your API key here normally.
# If you want to test mailchimp locally though, you will need to get the API key from the mailchimp website.
MAILCHIMP_ENDPOINT=https://us10.api.mailchimp.com/3.0
MAILCHIMP_LIST_ID=164fe3ad00
MAILCHIMP_API_KEY=


# Environment
NODE_ENV=development

# Server
PORT=3001
HOST=localhost

BASE_URL=http://localhost:3000