# Environment
NODE_ENV=development

# Server
PORT=3001
HOST=localhost

IGNORE_DATABASE_URL=postgres://postgres:parampara@localhost/postgres

RDS_HOSTNAME=localhost
RDS_DB_NAME=postgres
RDS_USERNAME=postgres
RDS_PASSWORD=parampara

AUTH0_CLIENT_ID=
AUTH0_DOMAIN=
AUTH0_CLIENT_SECRET=